




.logo {
  // background-image: url('../../public/logo.svg');
  width: var(--logo-size);
  height:  var(--logo-size);
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% - calc(var(--logo-size) / 2) );
  top: calc(var(--index)* 2.8);
  z-index: 1;
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.25);
  font-weight: 600;
}



.layers {
  perspective: 1000px;
}


.layers__conteiner {
  height: 100vh;
  min-height: 500px;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform var(--transition);
}


.layers__item {
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



.heroContent {
  font-size: calc(var(--index) * 2.9);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: calc(var(--index) * -0.15);
  line-height: 1.35em;
  margin-top: calc(var(--index) * 5.5);
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  

}








.layer1 {
  background-image: url('../../../public/back.jpg');
  
  transform: translateZ(-55px) scale(1.06);
}
.layer2 {
  background-image: url('../../../public/mid.png');
  transform: translateZ(80px) scale(.88);
}
.layer3 { 
  position: absolute;
  bottom: 15%;
  right: 18%;
  transform: translateZ(180px) scale(.8);
}
.layer4 {
  transform: translateZ(190px) scale(.9);
}
.layer5 {
  background-image: url('../../../public/front.png');
  transform: translateZ(300px) scale(.9);
}
.layer6 {
  background-image: url('../../../public/layer-6.png');
  transform: translateZ(380px);
}

.layer4, .layer5, .layer6 {
  pointer-events: none;
}