.nav {
  @apply absolute pt-5 px-5 flex justify-between items-center w-full ;
  z-index: 56565;

  .logo {
    text-transform: uppercase;
    font-size: calc(var(--index) * 0.8);
    font-weight: 600;
    color: rgb(214, 185, 19);
    text-shadow: 2px 2px 10px rgba(212,210,38,0.91);
  }


  .row {
   @apply flex items-center gap-8 cursor-pointer ;
    .links {
      @apply flex gap-3 cursor-pointer ;
      text-transform: uppercase;
      font-size: calc(var(--index) * 0.8);
      color: var(--text-color);
      text-shadow: var(--text-shadow);
    }
    .icons {
      @apply flex items-center gap-4 ;
      color: var(--text-color);
      font-size: calc(var(--index) * 0.8);
    }
  }
}